.bg-body header nav.cor-menu {
  background-color: lightseagreen;
}

.bg-body {
  background-color: blue;
}

.caixa-pai {
  height: 100%;
  width: 100%;
  background-color: pink;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.caixa {
  width: 23%;
  height: 100px;
  border: 1px solid white;
  background-color: black;
  color: honeydew;
  padding: 15px;
}

.movimentacao {
  order: -1;
  flex-grow: 2;
  align-self: center;
}

.diminui {
  align-content: flex-end;
}